<div class="dashboardWrapper">
    <div class="max-w-7xl mx-auto">
        <div class="flex flex-wrap items-center gap-5">

            <div class="box-Prop rounded text-center dashBox h-52 p-8 cursor-pointer" routerLink='/category'>
                <p class="font-bold text-6xl">
                    <i class=" fas fa-clipboard-list "></i>
                </p>
                <p class="font-bold text-3xl mt-3 mb-1">Category</p>
                <p class="text-base">Manage your category details here</p>
            </div>
          
            <div class="box-Prop rounded text-center dashBox h-52 p-8 cursor-pointer" routerLink='/posts'>
                <p class="font-bold text-6xl">
                    <i class=" fas fa-file-image "></i>
                </p>
                <p class="font-bold text-3xl mt-3 mb-1">Post</p>
                <p class="text-base">Manage your post details here</p>
            </div>
         
            <div class="box-Prop rounded text-center dashBox h-52 p-8 cursor-pointer" routerLink='/subscribers'>
                <p class="font-bold text-6xl">
                    <i class=" fas fa-users "></i>
                </p>
                <p class="font-bold text-3xl mt-3 mb-1">Subscribers</p>
                <p class="text-base">Manage your subscribers here</p>
            </div>

        </div>
    </div>
</div>